<router-outlet></router-outlet>

<!-- Qui va solo questo, non dobbiamo aggiungere nient'altro. Qui faremo vedere le 3 pagine -->
<!-- Poi creeremo i nostri 3 componenti, che saranno relativi ai nostri 3 contenuti -->
<!-- Poi in app.routing.module e creiamo le 3 rotte -->
<!-- Adesso non rimane che metterci il contenuto ad hoc nei tre componenti..... lo farò io --> 
<!-- Un'altra cosa che andiamo a impostare è il nostro servizio. Lo creiamo --> 
<!-- Poi creiamo un folder types e all'interno un file task.type.ts e dentro ci incolliamo il tipo che ci è stato fornito nella traccia del progetto stop-and-code-3 --> 
<!-- Adesso nel servizio creiamo la variabile task e la associamo al tipo, inizializziamo con apice vuoto e qui saranno gestiti i metodi per manipolare l'array, mentre nel ts delle singole pagine ci iniettiamo il servizio e facciamo le operazioni relative allo scopo del componente. Poi si tratta di sviluppare i tre componenti e interagire con il servizio -->


<!-- Ho aggiunto queste due cose: "resolveJsonModule": true, "allowSyntheticDefaultImports": true, al file tsconfig per il json -->